@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --background-color: #1f00cc;
    --main-color: #b0efff;
    --highlight-color: #ff1900;
    --font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: var(--font-family);
    height: 100vh;
    margin: 0;
}

header {
    background-color: var(--main-color);
    text-align: center;
    padding: 1rem;
}

h1 {
    font-size: 2.5rem;
    color: var(--background-color);
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--background-color);
    margin: 0 2rem;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(0.95);
    transition: transform 0.2s;
}

.container-graficos {
    margin: 4rem;
}

.grafico {
    margin-top: 2.5rem;
}

.container-graficos__texto {
    font-size: 1.4rem;
    text-align: center;
    padding: 1.5rem;
    border: var(--highlight-color) solid 2px;
}

strong {
    font-weight: bold;
    color: var(--highlight-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--background-color);
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
}
